<!--CHARGER LES FICHIER STATIC -->
{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--APPEL DE LA FEUILLE DE STYLE-->
       <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>App_Medietheque</title>
</head>

<body class="m-5">
    <h1>Projet_Médiathèque</h1>
    <h2>Gestion du projet médiathèque</h2>
    <p>La médiathèque propose à la consultation et à l’emprunt des livres, des Cds, des jeux de
        plateaux et des dvd.
        Tous ces supports sont ouverts à la consultation et à l’emprunt, sauf les jeux de plateau qui
        sont uniquement disponibles en consultation.
    </p>
    <p>L’application bibliothécaire permettre de : </p>
    <ol>
        <li>Créer un membre-emprunteur.</li>
        <li>Afficher la liste des membres.</li>
        <li>Mettre à jour un membre.</li>
        <li>Afficher la liste des médias.</li>
        <li>Créer un emprunt pour un média disponible.</li>
        <li>Ajouter un media.</li>
        <li>Rentrer un emprunt.</li>
    </ol>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'listmedias' %}">Afficher la liste des médias.</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ajoutmembre' %}">Créer un membre-emprunteur.</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ajoutmedia' %}">Mettre à jour un membre.</a></li>
        </ol>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">http://127.0.0.1:8000</li>
            <li class="breadcrumb-item">bibliothecaire</li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'listmedias' %}">Mettre à jour un membre.</a></li>
        </ol>
    </nav>

    <p>L’application membre affiche</p>
    <ol>
        <li>la liste de tous les médias.</li>
    </ol>

   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>

    <!--BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>